body {
    margin: 0;
    padding: 0 ;
    text-align: center;
    max-width: 1280px;
}
.navbar {
    margin: 0;
    padding: 4px;
    margin: 4px;
}
.home {
    text-decoration: none;
    color: #FF0000;
}
.navbar li {
    display: inline;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    margin-right: 40px;
    padding: 3px;
    list-style: none;
    text-transform: uppercase;
    color: #FF0000;
}
.title {
    margin: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
}
.content {
    letter-spacing: 2.4px;
    padding-left: 70px;
    max-width: 1145px;
    color: #373737;
}
.button {
    width: 191px;
    height: 51px;
    left: 544.5px;
    top: 557px;
    background: #FF0000;
    align-items: center;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.div {
    visibility: hidden;
    width: 1145px;
    min-height: 132px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    letter-spacing: 2.7px;
    color: #373737;
}
.div2 {
    margin-right: 30 px;
    text-align: right;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
}